<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid text-center">  
        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">
            <img src="image/avatar.png"   width="50" height="50" class="user-image" alt="User Image">
            <span class="hidden-xs text">{{user | uppercase}}</span>
        </a>
    </div>
</nav>
<div class="hold-transition skin-blue sidebar-mini">
    <div class="row">
        <div class="col-md-6 pull-left">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Chat</h3>
                </div>
                <div class="box-body">
                    <div class="direct-chat-messages" id="group">

                    </div>
                </div>
                <div class="box-footer">
                    <div>
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control" ng-model="groupMessage" my-enter="group_message('{{groupMessage}}')">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" ng-click="group_message(groupMessage)">Отправить</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pull-right">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Коллеги</h3>
                    <div class="box-tools">
                        <span class="label label-danger">{{allfriends.length}}</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body direct-chat-messages">
                    <ul class="users-list clearfix" >
                        <li ng-repeat="friend in allfriends track by $index">
                            <button ng-click="chat_popup(friend)"> 
                                <img src="image/avatar.png"   width="50" height="50" alt="User Image">
                                <a class="users-list-name">{{friend}}</a></button>
                        </li>  
                    </ul>
                </div>
                <div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">Something</a>
                </div>
            </div>
        </div>

    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to connect to {{friend}}?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirm()">ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
