<div class="container center text-center" style="background-color: #3c8dbc">
    <div class="container inner_container">
        <div class="row text-center Absolute-Cente is-Responsive">
            <div class="page-header">
                <h1>Добро пожаловать в корпаротивную систему обмена сообщениями</h1>
            </div>
            <form>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" name='handle' placeholder="Введите имя" ng-model="login_data.handle"/> 
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" placeholder="Введите фамилию"/> 
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" name='password' placeholder="Введите пароль" ng-model="login_data.password" my-enter="login()"/>     
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="" checked>Запомнить учетную запись</label>
                </div>
                <a class="text" href="/#/register">Заригистрироватся</a>
                <button type="button" class="btn btn-primary btn-block" style="background-color: gray" ng-click="login()"><span></span>Войти</button>
            </form>
        </div>
    </div>
</div>