<div class="container center text-center">
    <div class="container inner_container">
        <div class="row text-center Absolute-Cente is-Responsive">
            <div class="page-header">
                <h1>Регистрация нового пользователя</h1>
            </div>
            <div class="modal-body" style="padding:20px 50px;">
                <form role="form" action="http://localhost:8080/register" method="post">
                    <div class="form-group">
                        <label for="name"><span class="glyphicon glyphicon-user"></span>Имя</label>
                        <input type="text" class="form-control" id="name" ng-model="user.name">
                    </div>
                    <div class="form-group">
                        <label for="handle"><span class="glyphicon glyphicon-user"></span>Фамилия</label>
                        <input type="text" class="form-control" id="handle ng-model="user.handle>
                    </div>
                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" id="psw" ng-model="user.password">
                    </div>
                    <div class="form-group">
                        <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                        <input type="text" class="form-control" id="email" ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <label for="phone"><span class="glyphicon glyphicon-phone"></span> Phone</label>
                        <input type="text" class="form-control" id="phone" ng-model="user.phone">
                    </div>

                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="Register()"><span class="glyphicon glyphicon-off"></span>
                        Зарегистрировать</button>
                </form>
            </div>
        </div>
    </div>
</div>